<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>
    <title>Document</title>
</head>
<body>
<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/home">Home</a></li>
            <li class="uk-active"><a href="/users">Users</a></li>
            <li class="uk-active"><a href="/feed">feed</a></li>

        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">

            <li><a href="#"  sec:authentication="name">UserName</a></li>
            <li><a href="/perform_logout"  >Logout</a></li>
        </ul>

    </div>


</nav>
<div align="center">
    <h2>Add Post</h2>
    <form  action="/post" method="post">
<input th:value="${user.id}"hidden="true" name="id">
        <input type="text" name="body">
        <button type="submit">Post</button>
    </form>
   <div th:each="post:${user.posts}">
       <h3 th:text="${post.creditAt}"></h3>
       <p th:text="${post.body}"></p>

   </div>


</div>
</body>
</html>